//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 Education (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 05 10 15:58:58 2026

IO_LOC "sync" 37;
IO_PORT "sync" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "pixel" 38;
IO_PORT "pixel" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "n_cs" 80;
IO_PORT "n_cs" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "mosi" 82;
IO_PORT "mosi" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "sck" 81;
IO_PORT "sck" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "N_RESET" 4;
IO_PORT "N_RESET" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SYNC" 31,32;
IO_PORT "SYNC" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=2.5 BANK_VCCIO=2.5;
IO_LOC "PIXEL" 54,53;
IO_PORT "PIXEL" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=2.5 BANK_VCCIO=2.5;
